<!DOCTYPE>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>DHT22 Server</title>
	</head>
<body>
	<h1>DHT22 Server Configuration</h1>
	<style>
		th, td {padding: 10px}
		th {text-align: left;}
	</style>
		<form method="post" action="/">
			<table>
				<tr>
					<th colspan="2">Temperature</th>
					<th colspan="2">Humidity</th>
				</tr>
					<td>Current temperature:</td>
					<td>{{temp}} °C</td>
					<td>Current humidity:</td>
					<td>{{hum}} %</td>
				</tr>
				<tr>
					<td>Current update interval:</td>
					<td>{{intervalTemp}} ms</td>
					<td>Current update interval:</td>
					<td>{{intervalHum}} ms</td>
				</tr>
				<tr>
				<tr>
					<td style="text-align: center; padding: 0px" colspan="2">
							<input type="text" size="30" name="intervalTemp" placeholder="new update interval">
					</td>
					<td style="text-align: center; padding: 0px" colspan="2">
							<input type="text" size="30" name="intervalHum" placeholder="new update interval">
					</td>
				</tr>
				<tr>
					<td style="text-align: center; padding-top: 10px" colspan="4">
							<input type="submit" value="Update">	
					</td>
				</tr>
			</table>
		</form>	
		<table>
			<tr>
				<th colspan="2">Connected Clients</th>
			</tr>
			<tr>
				<td>IP-address</td>
				<td>Time of connection</td>
			</tr>
			<tr>
				<td>
					{{#client_list}}
					<p>{{.}}</p>
					{{/client_list}}
				</td>
				<td>
					{{#date_list}}
					<p>{{.}}</p>
					{{/date_list}}
				</td>
			</tr>
		</table>
	</body>
</html>
